.App {
  text-align: center;
}



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


.options {
  cursor: pointer;
  border: 2px solid black;
  padding: 10px;
}

.selected {
  background: linear-gradient(to right, #74ebd5, #acb6e5) !important;
}

ul {
  list-style-type: none;
}

.question-list {
  list-style-type: none;
  padding: 10;
  margin: 10;
  display: flex;
}

.question-list li {
  margin-right: 10px; 
}

.question-link {
  cursor: pointer;
}

.visited {
  font-weight: bold;
}

.attempted {
  color:red;
}

.email-box{
  padding: 10px;
}

.homepage-container{
  justify-content: center;
  margin-left: 500px;
  color: green;
}
